<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirect" enabled="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" negate="true" pattern="^azureworkshops\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://azureworkshops.com/{R:1}" appendQueryString="true"
                        redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>